<form>
    <!-- 
        precio
        direccion
        numero de ambientes
        localidad
        imagenes    
    -->
    <input type="text" placeholder="Precio" [(ngModel)]="precio" [ngModelOptions]="{standalone: true}"><br><br>
    <input type="text" placeholder="Direccion" [(ngModel)]="direccion" [ngModelOptions]="{standalone: true}"><br><br>
    <input type="text" placeholder="Numero de ambientes" [(ngModel)]="ambientes" [ngModelOptions]="{standalone: true}"><br><br>
    <input type="text" placeholder="Localidad" [(ngModel)]="localidad" [ngModelOptions]="{standalone: true}"><br><br>
    
    <!-- imagen -->
    <div>
        <div *ngFor="let url of cargarImg.urls">
        <img [src]="url" alt="">
        </div>
    </div>
        
    <div class="subir">
        <label for="file-upload">
        <p>Examinar</p>
        </label>
        <input (change)="cargarImg.selecImg($event)" type="file" id="file-upload" style='display: none;' multiple>
    </div>

    <button (click)="enviar()">Enviar</button>
</form>